
.animate__animated.animate__fadeInUp{
    --animate-duration: 0.5s;
}

/*----------------------SECTION-1------------------*/
header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 80px;
    background-color: #a41f1f;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 40px;
    z-index: 2;
}

#logo{
    width: 200px;
    height: 90%;
    background-image: url('../images/logo.png');
    background-position: center;
    background-size: 100% 100%;
}

.menu{
    height: 100%;
    display: flex;
    justify-content: center;
}

.menu ul{
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu ul a{
    font: 500 16px/22px "Oswald", Helvetica, sans-serif;
    text-transform: uppercase;
    margin-right: 10px;
    color: white;
    border-bottom: 3px solid transparent;
    border-top: 3px solid transparent;
}

.menu ul a:hover,
.selected{
    border-bottom: 3px solid rgb(255, 230, 0) !important;
}

.kart{
    margin-left: 20px;
    font-size: 23px;
    cursor: pointer;
    color: white;
    transition: 0.5s;
}

.kart:hover{
    transform: scaleX(-1);
}

.btnMenuMobile{
    display: none;
    color: white;
    cursor: pointer;
    font-size: 30px;
}

.favorite{
    margin-left: 15px;
    font-size: 26px;
    cursor: pointer;
    color: white;
    transition: 0.5s;
}

.favorite:hover{
    transform: scaleX(-1);
}

.notification{
    display: none;
    background-color: rgb(255, 153, 0);
    border-radius: 40px;
    position: relative;
    bottom: 10px;
    padding: 0 5px;
}

.modelKartSingle{
    display: none;
}

.yourCart{
    display: none;
    width: 400px;
    height: 90vh;
    position: fixed;
    top: 80px;
    right: 0;
    padding-top: 10px;
    background-color: rgb(0, 183, 255);
    border-left: 1px solid rgb(0, 0, 78);
    overflow-y: auto;
    margin-bottom: 50px;
}

.yourCart h1{
    text-align: center;
    font-weight: lighter;
    color: rgb(19, 19, 19);
    font-size: 25px;
    padding-bottom: 20px;
    border-bottom: 1px solid rgb(0, 0, 78);
}

.yourCart h1 i{
    margin-right: 5px;
}

.subprice,
.price{
    text-align: center;
    margin-top: 20px;
    font-size: 20px;
}

.itemSingleKart{
    height: 60px;
    border-bottom: 1px solid rgb(0, 0, 78);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 5px;
}

.controlsAmount{
    display: flex;
    justify-content: center;
    align-content: center;
}

.controlsAmount p{
    padding: 5px 10px;
    background-color: rgb(0, 92, 212);
    color: white;
    margin: 5px 0;
    cursor: pointer;
}

.controlsAmount p:not(.showAmount):hover{
    background-color: rgb(0, 78, 180);
}

.showAmount{
    background-color: rgb(29, 29, 29) !important;
}

.showAmount{
    margin: 5px !important;
}

.itemSingleKart img{
    width: 50px;
    height: 100%;
}

.btnBuy{
    width: 80%;
    padding: 10px;
    margin: 0 auto;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 100px;
    border-radius: 10px;
    background-color: #1fa41f;
    color: white;
    cursor: pointer;
    border: 1px solid rgb(77, 77, 77);
}

.btnBuy:hover{
    background-color: #1fa11f;
    color: rgb(243, 243, 243);
}

.closeCart{
    display: none;
    position: fixed;
    top: 50%;
    right: 400px;
    font-size: 35px;
    color: rgb(8, 8, 8);
    cursor: pointer;
}

.banner{
    width: 100%;
    height: calc(100vh + 100px);
    background-image: url('../images/imageMain.jpg');
    background-position: center;
    background-size: 100% 100%;
    margin-top: 80px;
}
/*-------------------------------------------------*/

/*----------------------SECTION-2------------------*/
.models{
    display: none;
}
.boxMenu{
    width: 100%;
    display: flex;
}

.options{
    width: 250px;
    background-color: rgb(255, 187, 0);
}
.optionSingle{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 270px;
    cursor: pointer;
    border-bottom: 1px solid rgb(202, 148, 0);
}

.optionSingle img{
    width: 80px;
    height: 80px;
    transition: 0.5s;
}

.optionSingle h3{
    font-weight: lighter;
    text-transform: uppercase;
}

.items{
    width: calc(100% - 250px);
    height: 100%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 80px 20px;
}
.ItemSingle{
    width: 250px;
    height: 300px;
    margin: 20px;
    text-align: center;
    cursor: pointer;
    font-family:'Times New Roman', Times, serif;
}
.ItemSingle img{
    width: 90%;
    height: 170px;
}

.ItemSingle h1{
    font-weight: lighter;
    font-size: 25px;
    color: rgb(27, 9, 0);
}
.ItemSingle p{
    font-size: 23px;
    color: rgb(107, 0, 0);
    font-weight: bold;
}
.boxAction{
    display: none;
    position: absolute;
    bottom: 20px;
    width: 100%;
    justify-content:center;
}

.boxAction p{
    background-color: #a41f1f;
    color: white;
    padding: 10px;
    border-radius: 50px;
    margin-right: 10px;
    transition: 0.4s;
}

.boxAction p:hover{
    background-color: rgb(255, 217, 0);
    color: rgb(0, 0, 0);
}

.favoriteAdded{
    display: none;
    position: fixed;
    z-index: 2;
    padding: 20px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgb(0, 0, 0);
    border: 5px solid rgb(255, 136, 0);
    text-align: center;
}

.favoriteAdded h1{
    color: rgb(0, 0, 0);
    text-transform: uppercase;
    font-weight: lighter;
    background-color: rgb(0, 253, 63);
    padding: 5px;
}

.favoriteAdded h1 i{
    margin-right: 5px;
}

.favoriteAdded p{
    font-size: 20px;
    color: white;
    margin: 15px 0 30px 0;
}

.boxSeeMore{
    display: none;
    position: fixed;
    z-index: 2;
    padding: 20px;
    width: 700px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgb(255, 255, 255);
    text-align: center;
    -webkit-box-shadow: 0px 1px 15px -1px #000000; 
    box-shadow: 0px 1px 15px -1px #000000;
}

.seeMore{
    display: flex;
    text-align: left;
    margin-bottom: 30px;
    color: rgb(94, 94, 94);
}


.pizzaInfo h1{
    font-weight: lighter;
}

.pizzaInfo > p{
    overflow: hidden;
   text-overflow: ellipsis;
   display: -webkit-box;
   line-height: 16px;
   max-height: 200px;
   -webkit-line-clamp: 4;
   -webkit-box-orient: vertical; 
}

.pizzaInfoSingle{
    display: flex;
    align-items: flex-end;
    margin-bottom: 10px;
}

.pizzaInfoSingle h1{
    margin-right: 5px;
}

.pizzaInfoSingle p{
    font-size: 18px;
}

.seeMore img{
    width: 250px;
    height: 200px;
    margin-right: 15px;
}

.closeSeeMore{
    width: 100px;
    height: 50px;
    background-color: rgb(0, 162, 255);
    margin: 0 auto;
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
}

.closeSeeMore:hover{
    background-color: rgb(0, 147, 233);
    color: rgb(214, 214, 214);
}

.closeWarning{
    width: 100px;
    height: 50px;
    background-color: rgb(0, 162, 255);
    margin: 0 auto;
    color: white;
    padding: 5px 10px;
    border-radius: 2px;
    cursor: pointer;
}

.closeWarning:hover{
    background-color: rgb(0, 147, 233);
    color: rgb(214, 214, 214);
}

/*-------------------------------------------------*/


/*----------------------SECTION-3------------------*/
.box-discount{
    width: 100%;
    height: 600px;
    background-image: url('../images/discount.jpg');
    background-position: center;
    background-size: cover;
}

.discount{
    width: max-content;
    position: relative;
    top: 220px;
    left: 60%;
    text-align: center;
}

.discount h1{
    font-weight: lighter;
    text-transform: uppercase;
    color: rgb(255, 217, 0);
    font-size: 50px;
}

.discount p{
    color: white;
    font-weight: lighter;
    font-size: 30px;
    margin-bottom: 30px;
}

.discount a{
    background-color: #a41f1f;
    padding: 10px 20px;
    border-radius: 40px;
    transition: 0.4s;
    color: white;
    font-size: 18px;
}

.discount a i{
    margin-right: 5px;
    font-size: 17px;
}

.discount a:hover{
    background-color: rgb(255, 217, 0);
    color: rgb(0, 0, 0);
}
/*-------------------------------------------------*/

/*----------------------SECTION-4------------------*/
.aboutUs{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 70px 50px;
}

.aboutUs__comment{
    margin-right: 50px;
    width: 400px;
}

.aboutUs__comment h1{
    color: rgb(255, 174, 0);
    font-family: 'Kaushan Script', cursive;
    font-weight: lighter;
    text-transform: uppercase;
    font-size: 30px;
    text-align: center;
    margin-bottom: 20px;
}

.aboutUs__comment p{
    color: rgb(112, 112, 112);
    text-align: center;
}

.aboutUs__image{
    width: 400px;
    height: 400px;
}
/*-------------------------------------------------*/

/*----------------------SECTION-5------------------*/
.comingSoon{
    width: 100%;
}

.comingSoon__title{
    width: 100%;
    display: flex;
    justify-content: center;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-transform: uppercase;
}

.comingSoon__title h1{
    color: rgb(56, 56, 56);
    max-width: max-content;
    font-weight: lighter;
    border-bottom: 2px solid rgb(255, 174, 0);
    margin-bottom: 20px;
}

.comingSoon__title h1 i{
    margin-right: 5px;
}

.comingSoon{
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 0 auto;
    margin-bottom: 20px;
}

.comingSoonSingle{
    width: calc(90% / 3);
    height: 400px;
    margin: 10px;
}

.comingSoonSingle img{
    width: 100%;
}

.comingSoonSingle h1{
    font-size: 20px;
    font-weight: lighter;
    text-transform: uppercase;
    margin: 10px 0 10px 0;
}

.comingSoonSingle p{
    color: rgb(95, 95, 95);
}
/*-------------------------------------------------*/

/*----------------------SECTION-6------------------*/
.depositions{
    width: 100%;
    height: 500px;
    background-image: url('../images/parallax.jpg');
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.depositionSingle{
    display: none;
    width: 800px;
    height: 300px;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    font-size: 18px;
    color: rgb(214, 214, 214);
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif ;
}

.depositionSingle img{
    width: 80px;
    height: 80px;
    border-radius: 50px;
}

.depositionSingle p{
    margin: 30px 0;
    text-align: center;
    font-size: 15px;
}

.depositionSingle h1{
    font-weight: lighter;
    font-size: 16px;
    text-transform: uppercase;
}

.animate__animated.animate__zoomIn {
    --animate-duration: 1.5s;
}

.empty{
    color: rgb(199, 199, 199);
    font-weight: lighter;
}

.controls{
    width: 800px;
    padding: 10px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    text-align: center;
}

.controls span{
    width: 15px;
    height: 15px;
    background-color: rgb(179, 179, 179);
    margin: 5px;
    border-radius: 50px;
    cursor: pointer;
}

.controlsSelected{
    background-color: rgb(255, 174, 0)!important;
}
/*-------------------------------------------------*/

/*----------------------SECTION-7------------------*/
.news{
    width: 100%;
    margin-bottom: 100px;
}

.news__title{
    width: 100%;
    display: flex;
    margin-top: 80px;
    justify-content: center;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-transform: uppercase;
}

.news__title h1{
    color: rgb(56, 56, 56);
    max-width: max-content;
    font-weight: lighter;
    border-bottom: 2px solid rgb(255, 174, 0);
    margin-bottom: 20px;
}

.news__title h1 i{
    margin-right: 5px;
}

.boxNews{
    width: 90%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 0 auto;
}

.newsSingle{
    width: calc(90% / 4);
    margin: 10px;
    text-align: center;
}

.newsSingle img{
    width: 70px;
    height: 70px;
}

.newsSingle h1{
    font-weight: lighter;
    margin-bottom: 10px;
}

.newsSingle p{
    text-align: justify;
    color: rgb(95, 95, 95);
}

/*-------------------------------------------------*/

/*----------------------SECTION-8------------------*/
.receiveNews{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 60px 10px;
    background-color: rgb(228, 228, 228);
}

.receiveNews i{
    font-size: 60px;
    margin-bottom: 10px;
}

.receiveNews h1{
    font-weight: lighter;
    text-transform: uppercase;
}

.receiveNews p{
    margin: 30px;
    color: rgb(83, 83, 83);
}

.receiveNews form input{
    width: 300px;
    padding: 10px;
    border-radius: 5px;
    outline: 0;
    border: 0;
    -webkit-box-shadow: 0px 2px 9px -4px #000000; 
    box-shadow: 0px 2px 9px -4px #000000;
    margin-right: 5px;
    color: rgb(104, 104, 104);
}

.receiveNews form button{
    width: 100px;
    height: 35px;
    background-color: rgb(22, 22, 22);
    border-radius: 5px;
    cursor: pointer;
    color: white;
    outline: 0;
    border: 0;
}
/*-------------------------------------------------*/


/*-----------------------FOOTER--------------------*/
footer{
    width: 100%;
    height: 320px;
    background-image: url('../images/parallax.jpg');
    background-size: cover;
    background-position: center;
    text-align: center;
    padding:  30px 10px;
}

footer .footer__title{
    color: rgb(255, 174, 0);
    font-weight: lighter;
    margin-bottom: 40px;
}

.boxInfo{
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
}

.infoContact{
    width: max-content;
    text-align: left;
}

.infoContact p{
    color: rgb(196, 196, 196);
    margin-bottom: 10px;
    margin-right: 100px;
}
.infoContact p i{
    margin-right: 5px;
    color: rgb(255, 174, 0);
}

.infoOperation h1{
    font-size: 21px;
    color: rgb(196, 196, 196);
    margin-bottom: 20px;
    font-weight: lighter;
}

.infoOperation p{
    color: rgb(196, 196, 196);
    margin-bottom: 10px;
}

.copyright{
    display: flex;
    justify-content: center;
    margin-top: 30px;
    padding: 30px;
    align-items: center;
    border-top: 1px solid rgb(53, 53, 53);
    color: rgb(196, 196, 196);
}
/*-------------------------------------------------*/