
.animate__animated.animate__fadeInUp{
    --animate-duration: 0.5s;
}

/*----------------------SECTION-1------------------*/
header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 80px;
    background-color: #a41f1f;
    display: flex;
    justify-content: space-between;
    padding: 5px 40px;
    z-index: 2;
}

#logo{
    width: 200px;
    height: 100%;
    background-image: url('../images/logo.png');
    background-position: center;
    background-size: 100% 100%;
}

.menu{
    height: 100%;
    display: flex;
    justify-content: center;
}

.menu ul{
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu ul a{
    font: 500 16px/22px "Oswald", Helvetica, sans-serif;
    text-transform: uppercase;
    margin-right: 10px;
    color: white;
    border-bottom: 3px solid transparent;
    border-top: 3px solid transparent;
}

.menu ul a:hover,
.selected{
    border-bottom: 3px solid rgb(255, 230, 0) !important;
}

.kart{
    margin-left: 20px;
    font-size: 23px;
    cursor: pointer;
    color: white;
    transition: 0.5s;
}

.kart:hover{
    transform: scaleX(-1);
}

.favorite{
    margin-left: 5px;
    font-size: 26px;
    cursor: pointer;
    color: white;
    transition: 0.5s;
}

.favorite:hover{
    transform: scaleX(-1);
}

.notification{
    background-color: rgb(255, 153, 0);
    border-radius: 40px;
    position: relative;
    bottom: 10px;
    padding: 0 5px;
}
.banner{
    width: 100%;
    height: 950px;
    background-color: aqua;
    background-image: url('../images/imageMain.jpg');
    background-position: center;
    background-size: 100% 100%;
    margin-top: 80px;
}
/*-------------------------------------------------*/

/*----------------------SECTION-2------------------*/
.models{
    display: none;
}
.boxMenu{
    width: 100%;
    display: flex;
}

.options{
    width: 250px;
    background-color: rgb(255, 187, 0);
}
.optionSingle{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 270px;
    cursor: pointer;
    border-bottom: 1px solid rgb(202, 148, 0);
}

.optionSingle img{
    width: 80px;
    height: 80px;
    transition: 0.5s;
}

.optionSingle h3{
    font-weight: lighter;
    text-transform: uppercase;
}

.items{
    width: calc(100% - 250px);
    height: 100%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 80px 20px;
}
.ItemSingle{
    width: 250px;
    height: 300px;
    margin: 20px;
    text-align: center;
    cursor: pointer;
    font-family:'Times New Roman', Times, serif;
}
.ItemSingle img{
    width: 100%;
    height: 220px;
}

.ItemSingle h1{
    font-weight: lighter;
    font-size: 25px;
    color: rgb(27, 9, 0);
}
.ItemSingle p{
    font-size: 23px;
    color: rgb(107, 0, 0);
    font-weight: bold;
}
.boxAction{
    display: none;
    position: absolute;
    bottom: 20px;
    width: 100%;
    justify-content:center;
}

.boxAction p{
    background-color: #a41f1f;
    color: white;
    padding: 10px;
    border-radius: 50px;
    margin-right: 10px;
    transition: 0.4s;
}

.boxAction p:hover{
    background-color: rgb(255, 217, 0);
    color: rgb(0, 0, 0);
}

.favoriteAdded{
    display: none;
    position: fixed;
    z-index: 2;
    padding: 20px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgb(0, 0, 0);
    border: 5px solid rgb(255, 136, 0);
    text-align: center;
}

.favoriteAdded h1{
    color: rgb(0, 0, 0);
    text-transform: uppercase;
    font-weight: lighter;
    background-color: rgb(0, 253, 63);
    padding: 5px;
}

.favoriteAdded h1 i{
    margin-right: 5px;
}

.favoriteAdded p{
    font-size: 20px;
    color: white;
    margin: 15px 0 30px 0;
}

.closeWarning{
    width: 100px;
    height: 50px;
    background-color: rgb(0, 162, 255);
    margin: 0 auto;
    color: white;
    padding: 5px 10px;
    border-radius: 2px;
    cursor: pointer;
}

.closeWarning:hover{
    background-color: rgb(0, 147, 233);
    color: rgb(214, 214, 214);
}

/*-------------------------------------------------*/


/*----------------------SECTION-3------------------*/
.box-discount{
    width: 100%;
    height: 600px;
    background-image: url('../images/discount.jpg');
    background-position: center;
    background-size: cover;
}

.discount{
    width: max-content;
    position: relative;
    top: 220px;
    left: 60%;
    text-align: center;
}

.discount h1{
    font-weight: lighter;
    text-transform: uppercase;
    color: rgb(255, 217, 0);
    font-size: 50px;
}

.discount p{
    color: white;
    font-weight: lighter;
    font-size: 30px;
    margin-bottom: 30px;
}

.discount a{
    background-color: #a41f1f;
    padding: 10px 20px;
    border-radius: 40px;
    transition: 0.4s;
    color: white;
    font-size: 18px;
}

.discount a i{
    margin-right: 5px;
    font-size: 17px;
}

.discount a:hover{
    background-color: rgb(255, 217, 0);
    color: rgb(0, 0, 0);
}
/*-------------------------------------------------*/